<footer class="footer">
  <nav>
    <ul class="footer-links">
      <li><a href="/articles">Articles</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/rss">RSS</a></li>
    </ul>
  </nav>
</footer>
