---
layout: layouts/default.liquid
title: About me
---

<div class="prose">
    <h2>About</h2>
    <h3>
        {% wavy "I'm Matt, a game developer with a website." %}
    </h3>
    <p class="mt-6">
        Ever since I was a kid glued to Super Mario Bros. in my basement, I knew I wanted to make games. Fast forward to today, and I'm a game developer with a Computer Science degree and a passion for turning code into experiences that make people smile. There's nothing like seeing someone laugh at an unexpected interaction you coded – it's pure magic!
    <p>
        I've got experience with Unity, C#, and Godot, and I'm currently building my own game engine (because why not?). My goal? To create unique 2D experiences, that might just make you question everything you thought you know.
    </p>
    
    <p> 
        When I'm not coding, you'll find me reading, tackling challenging platformers (looking at you, Celeste!), struggling in Dota 2, and exploring the amazing Colorado scenery.
    </p>
    <p>
        Want to join me on this crazy adventure? Hit me up at <contact@milehighcoder.com> – let's make some awesome games together!
    </p>
</div>
    
<style>
.wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes wavy {
    0% {
        top: 0px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0px;
    }
}
</style>