---
layout: layouts/default.liquid
---

<div class="main-sections">
  <section>
    <div class="prose">
      <h2>Latest</h2>
    </div>
    {% assign posts = collections.posts | reverse %}
    {% assign count = 1 %}
    {% include "postlist.liquid" %}
  </section>

  {% comment %} {% assign tagList = collections | postTags %} {% if tagList.length > 0 %}
  <section class="prose">
    <h2>Topics</h2>
    {%- for tag in tagList -%}
    <a href="/tags/{{ tag.name }}">{{ tag.name }}({{ tag.count }})</a>{% if
    forloop.last != true %}<span>, </span>{% endif %} {%- endfor -%}
  </section>
  {% endif %} {% endcomment %}

  {% assign posts = collections.posts | reverse %} {% if posts.length > 1 %}
    <br/>
    <section>
      <div class="prose">
        <h2>More articles</h2>
      </div>
      
      {% assign count = 5 %}
      {% assign offset = 1 %}
      {% include "postlist.liquid" %}
      <p class="text-center text-lg">
        <a class="text-blue-600 visited:text-purple-600" href="/articles">All the articles</a>
      </p>
    </section>
  {% endif %}
</div>

